<h1>Sign up form</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>SUBMIT</button>
</form>


<li><a href="/register"> Sign Up!</a></li>
<li><a href="/login"></a></li>
<li><a href="/logout">Logout!</a></li>
