/* .navbar-light .navbar-toggler-icon{
  background-image: url(img/navbar-toggler.svg)!important;
} */
* {
  font-family: 'Muli';
}
#logo-login-signup{
  margin-left: 7.5vw;
  width: 35vw;
}
#text-login-signup{
  text-align: center;
  margin-left: 7.5vw;
  width: 35vw;
}
#formContainer{
  margin-left: 7.5vw;
  width: 35vw;
}

.navbar-custom{
  background-color: white;
}